$mainBorderRadius: 3px;
$mainPaddings: 7px 10px;

$mainColor: #FFFFFF;
$mainBgColor: #7ECBFA;

$formMainColor: #2369F6;
$addButtonHoverColor: hsla(220, 92%, 55%, 0.7);

$taskBgColor: #BEE5FD;
$removeButtonColor: #EA0000;
$removeButtonHoverColor: #D11507;